body{
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f3f5f9;
}

.navbar{
    background: linear-gradient(135deg, #008080, #80ced6);
    padding:10px 20px;
    display:flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    color:#ffffff;

}

.login-container{
    max-width: 400px;
    margin: 100px auto 50px auto;
    padding: 40px;
    background-color: #ffffff;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}
.login-container h2{
    text-align: center;
    margin-bottom: 20px;
    color: #333333;
}
.form-group{
    margin-bottom: 25px;
}

input[type="email"],
input[type="password"],
input[type="text"]{
    width:90%;
    padding: 15px;
    border-radius: 6px;
    border: 1px solid #008080;
    background-color: #f5f5f5;
}

input[type="email"]:focus,
input[type="password"]:focus,
input[type="text"]:focus{
    
    outline: none;
    
}
button{
    width:100%;
    padding:15px;
    border:none;
    border-radius: 6px;
    // background-color: linear-gradient(135deg, #008080, #80ced6);
    background-color: #67bbc6;
    color:#ffffff;
    cursor: pointer;
    transition: background-color 0.3s ease;
    

}

button:hover{
    //background-color: #67bbc6;
    background-color: #5aacb7;
    box-shadow: 8px 4px 12px rgba(0, 0, 0, 0.2);
}

p{
    text-align: center;
    cursor: pointer;
    color:#666666;
    transition: color 0.3s ease;

}

.highlighted{
    text-decoration: underline;
}
.highlighted:hover{
    color:#008080;
    text-decoration: underline;
}